@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Quicksand:wght@300;400&display=swap");

.menu a {
  margin-right: 10px;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
}
.menu a:hover {
  text-decoration: none;
}
